OPENAI_API_KEY: "sk-openai-sample"
ANTHROPIC_API_KEY: "sk-anthropic-sample"
WATSONX_API_KEY: "sk-watsonx-sample"
DATABASE_HOST: "http://localhost:8529"
DATABASE_USERNAME: "root"
DATABASE_PASSWORD: "openSesame"