--extra-index-url=https://pypi.nvidia.com
cugraph-cu12
folium
geopandas
geopy
jupyter
keplergl
langgraph
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-experimental
langchain-ibm
langchain-openai
matplotlib
networkx
numpy
nx-arangodb
osmnx
pandas
python-arango
pyyaml
scikit-learn