osmnx
networkx
nx-arangodb
python-arango
pandas
geopy
geopandas
pyyaml 
numpy
matplotlib
jupyter
folium
keplergl
langgraph
langchain 
langchain-openai
langchain-community
langchain-core
langchain-anthropic
langchain-experimental
scikit-learn